.skills-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* width: 100vw; */
  width: 100vw;
  height: 450px;
  /* background-color: aquamarine; */
  background-color: rgb(90, 37, 21);
  color: white;
  padding-bottom: 120px;
}

li {
  text-align: left;
  margin-left: 40px;
  font-size: 0.7em;
  padding: 10px;
}
ul {
  margin-top: 50px;
}
.em-text {
  font-size: 0.8em;
}
.intro {
  width: 700px;
  margin-bottom: 100px;
}
