* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /**/
  width: 100%;
  overflow: hidden;
}

.App-header {
  /* background-color: #f0ece5; */
  background-color: white;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: calc(28px);
  color: rgb(145, 70, 20);
}

.link-dark {
  font-size: 1em;
  color: rgb(196, 97, 16);
}
.link-dark:hover {
  font-size: 1em;
  color: rgb(255, 196, 0);
}

h2 {
  margin-top: 80px;
  margin-bottom: 30px;
  color: rgb(194, 116, 0);
  color: black;
  /* font-size: 1.5em; */
}
p {
  font-size: 0.8em;
}
